body {
    font: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* ------------------------ HEADER ------------------------ */
#header {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

#brand {
    flex: 50%;
}

h1 a {
    font-size: 50px;
    font-weight: 100;
    color: blue;
    text-decoration: none;
}

#searchBox {
    flex: 50%;
    background: linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    background: -webkit-linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    background: -o-linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    background: -moz-linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    min-width: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    background: white url(img/search.png) right center no-repeat;
    border: 1px solid black
}

.submit {
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: black;
    font-size: 15px;
    margin-left: 20px;
}

.clear {
    clear: both;
}

/* ------------------------ MENU BAR ------------------------ */
#menu {
    background: linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    background: -webkit-linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    background: -o-linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    background: -moz-linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
    #menu {
        flex-direction: column;
        align-content: center;
    }
    #menu a:any-link {
        border-right: none;
    }
}

#menu a {
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid blue;
}

#menu a:last-child {
    border-right: none;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: black;
    line-height: 30px;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

#menu a:hover, #menu a.active {
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

/* ------------------------ INTRODUCTION ------------------------ */
#introduction {
    background: linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    background: -webkit-linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    background: -o-linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    background: -moz-linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    padding: 30px;
    margin: 16px 0;
}

#introduction h3 {
    font-size: 45px;
    color: white;
    font-weight: normal;
}

#introduction p {
    font-size: 25px;
    color: black;
    text-align: justify;
}

/* ------------------------ SIDEBAR ------------------------ */
.sidebars {
    display: flex;
    flex-wrap: wrap;
}

.sidebarWrapper {
    padding: 5px;
    flex: 50%;
}

.sidebar {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px 0 80px 50px;
}

.sidebar h3 {
    color:black;
    font-size: 30px;
}

.sidebar ul {
    padding-top: 8px;
}

#leftsidebar ul li {
    padding: 4px 0 4px 10px;
    list-style-image: url(img/arrow.png);
}

#rightsidebar ul li {
    padding: 17px 10px 10px 40px;
    list-style-image: url(img/tick.png);
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: blue;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    transition: font-size 0.3s ease;
}

.sidebar ul li a:hover, .sidebar ul li a.active {
    text-decoration: none;
    color: blueviolet;
    font-size: 23px;
    font-weight: bold;
}

/* ------------------------ FOOTER ------------------------ */
.footer {
    height: 60px;
    background: linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    background: -webkit-linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    background: -o-linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    background: -moz-linear-gradient(rgb(65, 145, 165), rgb(26, 140, 185));
    padding: 10px 30px;
    margin-top: 15px;
}